.container
  =image_tag "https://d13yacurqjgara.cloudfront.net/users/375867/screenshots/1557487/desert-river-pyramid-cactus-game-background-game-assets-gui-sidescroller-horizontal-wallpaper-590.png", :class => "background"

  =image_tag "bat.png", :class => "character"
